<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel = "tests" name="Suite">

<listeners>
<listener class-name = "RajAutomation.Testcomponents.Listeners"/>
</listeners>


  <test thread-count="5" name="Standalone Test">
    <classes>
      <class name="RajAutomation.Tests.Standalone"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Error screenshot Test">
    <classes>
      <class name="RajAutomation.Tests.ErrorValidations"/>
    </classes>
  </test>
</suite> <!-- Suite -->
